@media screen and (max-width: 620px) {
  .mo {
    display: block;
  }
  .pc,
  .middle,
  .tab {
    display: none;
  }

  /*header*/
  header {
    height: 60px;
  }
  #in_header {
    max-width: 920px;
    padding: 0 20px;
  }
  #logo {
    width: 138px;
    height: 29px;
  }
  #main_menu {
    display: none;
  }
  #rt_menu_wrap {
    display: none;
  }
  .menu_btn {
    width: 32px;
    height: auto;
    display: block;
  }
  /*header end*/

  /*section01*/
  .section01 {
    max-width: 720px;
  }
  .swiper {
    width: 100%;
    max-width: 720px;
    height: 442px;
  }
  .main_txtbox {
    width: 80%;
    top: 16%;
    left: 9.417%;
  }
  .main_txt01 {
    font-size: 18px;
    line-height: 18px;
  }
  .main_txt02 {
    font-size: 14px;
    line-height: 14px;
  }
  .main_txt03 {
    font-size: 30px;
    line-height: 36px;
  }
  /*section01 end*/

  /*section02*/
  .sec02_wrap {
    flex-direction: column;
  }
  .find {
    width: 100%;
    height: 45px;
  }
  .txt_wrap {
    width: 145px;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .find p {
    font-size: 14px;
    line-height: 14px;
    float: none;
  }
  .icon_locate {
    width: 10px;
    height: 14px;
    float: none;
  }
  /*section02 end*/

  /*section03*/
  .section_wrap01 {
    padding: 100px 20px 50px 20px;
    max-width: 720px;
  }
  .imgmenu_wrap {
    max-width: 720px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .imgmenu_con {
    width: 47.761%;
  }
  .imgmenu p {
    font-size: 16px;
    line-height: 16px;
  }
  .imgmenu_con:nth-child(1),
  .imgmenu_con:nth-child(2) {
    margin-bottom: 30px;
  }
  /*section03 end*/

  /*section04*/
  .section04 {
    overflow: hidden;
  }
  .section_wrap02 {
    padding: 50px 20px 100px 20px;
    max-width: 720px;
  }
  .sec_title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 35px;
  }
  .sec04_menu {
    width: 85%;
    justify-content: space-around;
    margin-bottom: 25px;
  }
  .sec04_menu p {
    font-size: 16px;
    line-height: 20px;
  }
  #sec04_noslide {
    display: none;
  }
  #sec04_slide {
    display: block;
  }
  .sec04_con {
    width: 15%;
  }
  .best_title {
    font-size: 14px;
    line-height: 20px;
  }
  .best_price {
    font-size: 18px;
    line-height: 22px;
  }
  .best_price span {
    font-size: 14px;
    line-height: 22px;
  }
  .viewmore {
    width: 100%;
    margin-top: 40px;
  }
  .view_box {
    width: 110px;
    height: 40px;
  }
  .view_txt {
    font-size: 14px;
    line-height: 40px;
  }
  /*section04 end*/

  /*section05*/
  .sec05_con {
    width: 100%;
    height: 390px;
  }
  .sec05_txtbox {
    top: 20.5%;
  }
  #sec05_txtbox02 {
    top: 74%;
  }
  .sec05_txt01 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  .sec05_txt02 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 35px;
  }
  .viewmore_02 {
    width: 100%;
    height: auto;
  }
  .view_box_02 {
    width: 110px;
    height: 40px;
  }
  .view_txt_02 {
    font-size: 14px;
    line-height: 40px;
  }
  /*section05 end*/

  /*section06*/
  .section06 {
    width: 100%;
    height: auto;
  }
  .section_wrap03 {
    padding: 100px 20px 50px 20px;
    max-width: 720px;
  }
  .sec06_mainimg {
    width: 71.642%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .sec06_img {
    display: none;
  }
  .sec06_txtwrap {
    max-width: 720px;
    display: flex;
    flex-direction: column;
  }
  .sec06_txtcon01 {
    width: 100%;
    margin-right: 0;
  }
  .sec06_txtcon02 {
    width: 100%;
    margin-left: 0;
  }
  .sec06_txt h4 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .sec06_txt p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
  #sec06_txt01,
  #sec06_txt02,
  #sec06_txt03 {
    margin-bottom: 30px;
  }
  /*section06 end*/

  /*section07*/
  .sec07_conwrap {
    display: flex;
    flex-direction: column;
  }
  .sec07_con {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .sec07_con:last-child {
    margin-bottom: 0;
  }
  .sec07_img {
    margin-bottom: 20px;
  }
  .date {
    font-size: 14px;
    line-height: 14px;
  }
  .sec07_contxt {
    font-size: 18px;
    line-height: 18px;
  }
  /*section07 end*/

  /*footer*/
  .footer_wrap {
    padding: 40px 20px 40px 20px;
    max-width: 720px;
  }
  .footer_logo {
    margin: 0;
    margin-bottom: 20px;
  }
  .footer01 {
    max-width: 720px;
    height: auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
  }
  .left_footer {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  .line {
    display: none;
  }
  .brand01,
  .brand02,
  .headOffice,
  .seoul {
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
  }
  .brand02 {
    margin-bottom: 15px;
  }
  .brand01 li,
  .brand02 li,
  .headOffice li,
  .seoul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .sns {
    margin-bottom: 20px;
  }
  .footer02 {
    max-width: 720px;
    padding-top: 40px;
  }
  /*footer end*/
}
