@media screen and (max-width: 960px) {
  .tab {
    display: block;
  }
  .pc,
  .mo,
  .middle {
    display: none;
  }

  /*header*/
  header {
    height: 80px;
  }
  #in_header {
    max-width: 920px;
    padding: 0 20px;
  }
  #logo {
    width: 138px;
    height: 29px;
  }
  #main_menu {
    display: none;
  }
  #rt_menu_wrap {
    display: none;
  }
  .menu_btn {
    width: 25px;
    height: 16px;
    display: block;
  }
  /*header end*/

  /*section01*/
  .section01 {
    max-width: 960px;
  }
  .swiper {
    max-width: 960px;
    height: 512px;
  }
  .main_txtbox {
    top: 24%;
    left: 9.417%;
  }
  .main_txt03 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 30px;
  }
  /*section01 end*/

  /*section02*/
  .find {
    height: 60px;
  }
  /*section02 end*/

  /*section03*/
  .section03 {
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .section_wrap01 {
    padding: 130px 40px 65px 40px;
  }
  .imgmenu_con {
    width: 23.289%;
  }
  .imgmenu p {
    margin-top: 15px;
  }
  /*section03 end*/

  /*section04*/
  .section_wrap02 {
    padding: 65px 40px 130px 40px;
  }
  .sec_title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 50px;
  }
  .sec04_menu {
    margin-bottom: 35px;
  }
  .sec04_menu p {
    font-size: 20px;
    line-height: 24px;
  }
  .sec04_conwrap {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sec04_con {
    width: 47.469%;
    margin-right: 0;
  }
  .sec04_con:nth-child(1),
  .sec04_con:nth-child(2) {
    margin-bottom: 30px;
  }
  .best_title {
    font-size: 15px;
    line-height: 20px;
  }
  .best_price {
    font-size: 20px;
    line-height: 20px;
  }
  .best_price span {
    font-size: 15px;
    line-height: 15px;
  }
  /*section04 end*/

  /*section05*/
  .section05 {
    flex-direction: column;
  }
  .sec05_con {
    width: 100%;
    height: 470px;
  }
  .sec05_con01 {
    width: 100%;
    height: 100%;
  }
  .sec05_con01 > a {
    width: 100%;
    height: 100%;
  }
  .sec05_con02 {
    width: 100%;
    height: 100%;
  }
  .sec05_con02 > a {
    width: 100%;
    height: 100%;
  }
  .sec05_txtbox {
    width: 80%;
    bottom: unset;
    top: 22.5%;
    left: 2.604%;
  }
  #sec05_txtbox02 {
    top: 76%;
    left: 2.604%;
  }
  .sec05_txt01 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 15px;
  }
  .sec05_txt02 {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 35px;
  }
  /*section05 end*/

  /*section06*/
  .section06 {
    width: 100%;
    height: auto;
  }
  .section_wrap03 {
    padding: 130px 40px 65px 40px;
    max-width: 920px;
  }
  .sec06_mainimg {
    width: 50.642%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .sec06_img {
    display: none;
  }
  .sec06_txtwrap {
    max-width: 920px;
    flex-direction: column;
  }
  .sec06_txtcon01 {
    width: 100%;
    margin-right: 0;
  }
  .sec06_txtcon02 {
    width: 100%;
    margin-left: 0;
  }
  .sec06_txt h4 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 10px;
    text-align: center;
  }
  .sec06_txt p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  #sec06_txt01,
  #sec06_txt02,
  #sec06_txt03 {
    margin-bottom: 30px;
  }
  /*section06 end*/

  /*section07*/
  .sec07_con {
    width: 32.293%;
    margin-right: 0;
  }
  .date {
    font-size: 14px;
    line-height: 14px;
  }
  .sec07_contxt {
    font-size: 18px;
    line-height: 18px;
  }
  /*section07 end*/

  /*footer*/
  .footer_wrap {
    padding: 100px 40px 50px 40px;
    max-width: 1470px;
  }
  .footer01 {
    flex-direction: column;
  }
  .left_footer {
    margin-bottom: 20px;
  }
  .sns {
    margin-bottom: 20px;
  }
  /*footer end*/
}
